<li class="dropdown">
  <a href="#" data-toggle="dropdown"><span class="icon-frown"></span> Complain</a>
  <ul class="dropdown-menu">
    <li style="padding: 15px" id="complaint">
      <textarea placeholder="Is there a problem?" class="form-control" rows="3" style="resize: none; width: 300px"></textarea>
      <br/>
      <button class="btn btn-block btn-primary">Send Problem</button>
    </li>
  </ul>
</li>
