{% extends "TalisSwiftForumBundle::layout.html.twig" %}

{% block title %}{% block subtitle %}{% endblock %} - TrickPlay{% endblock %}

{% block description %}TrickPlay Guild{% endblock %}

{% block stylesheets %}
    {% stylesheets '@TalisSwiftForumBundle/Resources/public/css/swiftForumMain.css'
                   '@TalisSwiftForumBundle/Resources/public/css/widearea.min.css'
                   '@TalisTrickPlayBundle/Resources/public/css/main.css'
                   '@TalisTrickPlayBundle/Resources/public/css/roster.css'
                   '@TalisTrickPlayBundle/Resources/public/css/ff14.css' %}
    <link rel="stylesheet" href="{{ truepath~asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block navbarCustom %}
  <li {% if app.request.uri == url('basic_roster') %}class="active"{% endif %}><a href="{{ path('basic_roster') }}"><i class="icon-group"></i> Members</a></li>
{% endblock %}

{% block content %}
  {% if is_granted('ROLE_MEMBER') and not app.user.character and app.request.uri != url('auth_edit') %}
    <div class="alert alert-warning">
        <span class="icon-warning-sign"></span>
        You have not yet linked your character.
        Until you do so, you will show up as "unregistered" in the roster.
        <a href="/editprofile" class="pull-right alert-link">Click here to link</a>
    </div>
  {% endif %}
{% endblock %}
