<ul class="dropdown-menu" id="user-dropdown" style="position: fixed">
    <li class="disabled"><a href="#"><span class="icon-user"></span> Visit Profile (coming soon)</a></li>
    <li class="divider"></li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">Change rank <span class="icon-caret-right pull-right"></span></a>
        <ul class="dropdown-menu" style="left: 100%; top: 0">
            <li><a href="#"><span class="icon-circle-blank"></span> Admin</a></li>
            <li><a href="#"><span class="icon-circle"></span> <strong>Officer</strong></a></li>
            <li><a href="#"><span class="icon-circle-blank"></span> Member</a></li>
            <li><a href="#"><span class="icon-circle-blank"></span> Guest</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="icon-circle-blank"></span> Banned</a></li>
        </ul>
    </li>
</ul>
