{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block subtitle %}Guides{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Guides for FFXIV</h1>
    </div>

    <p><b>Official Forums:</b><br>
    <a href="http://lodestone.finalfantasyxiv.com/pl/jump?name=header&id=002_forum">http://lodestone.finalfantasyxiv.com/pl/jump?name=header&id=002_forum</a></p>

    <p><b>Complete General Information on the game:</b><br>
    <a href="http://www.neogaf.com/forum/showthread.php?t=657017">http://www.neogaf.com/forum/showthread.php?t=657017</a></p>

    <p><b>Links to multiple Guides for everything:</b><br>
    <a href="http://mirai.guildwork.com/forum/threads/520856b9c16e4d2f130a0f23-comprehensive-linkbook?page=1">http://mirai.guildwork.com/forum/threads/520856b9c16e4d2f130a0f23-comprehensive-linkbook?page=1</a></p>

    <p><b>Hunting Log Guide:</b><br>
    <a href="http://dimensionaldeath.com/index.php?page=huntinglogs">http://dimensionaldeath.com/index.php?page=huntinglogs</a></p>

    <p><b>How Crafting Works, Skill Reference:</b><br>
    <a href="https://dl.dropboxusercontent.com/u/5457486/ffxiv%20crafting%20reference%20sheet.pdf">https://dl.dropboxusercontent.com/u/5457486/ffxiv%20crafting%20reference%20sheet.pdf</a></p>

    <p><b>List of who crafts items for which classes:</b><br>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFc1dFdfZ3BMOE0tQ1VwR2N3QnVqZEE#gid=1">https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFc1dFdfZ3BMOE0tQ1VwR2N3QnVqZEE#gid=1</a></p>

    <p><b>Disciples of the Land gear sheet:</b><br>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFNIU1lZODdiMUMzNVJCczcyZldoVmc#gid=16">https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFNIU1lZODdiMUMzNVJCczcyZldoVmc#gid=16</a></p>

    <p><b>Disciples of the Hand gear sheet:</b><br>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFc1dFdfZ3BMOE0tQ1VwR2N3QnVqZEE&usp=sharing">https://docs.google.com/spreadsheet/ccc?key=0AkadXJVMJCR4dFc1dFdfZ3BMOE0tQ1VwR2N3QnVqZEE&usp=sharing</a></p>

    <p><b>List of Fishing Baits:</b><br>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0As3pVWz2bGVDdDZqbUoycWFzSzRDVDhUdWUzZGFlQlE#gid=0">https://docs.google.com/spreadsheet/ccc?key=0As3pVWz2bGVDdDZqbUoycWFzSzRDVDhUdWUzZGFlQlE#gid=0</a></p>

    <p><b>List of Food and their Effects:</b><br>
    <a href="https://docs.google.com/spreadsheet/ccc?key=0AvWTiTvRintgdDR0aXFESXROSzl4OUtqdFVDbW1aMHc#gid=0">https://docs.google.com/spreadsheet/ccc?key=0AvWTiTvRintgdDR0aXFESXROSzl4OUtqdFVDbW1aMHc#gid=0</a></p>

    <p>Powerful Map viewer with options for Gathering nodes and stuff</p><br>
    <a href="http://www.ffxivguild.com/maps/">http://www.ffxivguild.com/maps/</a>
{% endblock %}