{% extends "TalisTrickPlayBundle::base.html.twig" %}
{% block subtitle %}Roster{% endblock %}

{% block content %}

<div class="page-header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">All (40)</a></li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Jobs (26) <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Physical</li>
        <li><a href="#">Bard (7)</a></li>
        <li><a href="#">Dragoon (8)</a></li>
        <li><a href="#">Monk (3)</a></li>
        <li><a href="#">Paladin (1)</a></li>
        <li><a href="#">Warrior (1)</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Magic</li>
        <li><a href="#">Black Mage</a></li>
        <li><a href="#">Scholar</a></li>
        <li><a href="#">Summoner</a></li>
        <li><a href="#">White Mage</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" data-toggle="dropdown">Professions (10) <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Crafting</li>
        <li><a href="#">Bard (7)</a></li>
        <li><a href="#">Dragoon (8)</a></li>
        <li><a href="#">Monk (3)</a></li>
        <li><a href="#">Paladin (1)</a></li>
        <li><a href="#">Warrior (1)</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Gathering</li>
        <li><a href="#">Black Mage</a></li>
        <li><a href="#">Scholar</a></li>
        <li><a href="#">Summoner</a></li>
        <li><a href="#">White Mage</a></li>
      </ul>
    </li>
  </ul>
  <h1>Members</h1>
</div>

<table class="table">
  <tr>
    <th>Character</th>
    <th>Jobs</th>
    <th>Professions</th>
  </tr>
  <tr>
    <td>Cat Puncher (Officer)</td>
    <td>WHM (50)</td>
    <td>Fishing (17)</td>
  </tr>
</table>

{% endblock %}
