/*
* This file is part of the Swift Forum package.
*
* (c) SwiftForum <https://github.com/swiftforum>
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

#wrap > .container {
    padding: 60px 15px 0;
    background-color: rgba(255,255,255, 0.8);
    border:#dddddd solid 1px;
}

.page-header {
    margin-top: 10px;
}

.home-active, .home-active:hover, .home-active:focus {
    background-color: #D5D5D5 !important;
    color: #555555;
}

/************ Icon Picker ***********/
.icon-picker-popover {
    max-width: 600px;
    text-align:center;
}

.icon-picker-col-icon:hover {
    background-color: #D9EDF7;
}

.icon-picker-col-icon:hover > a {
    color:#2A6496;
}

.icon-picker-col-icon > a:hover {
    text-decoration: none;
}

.col-xs-1.icon-picker-col-icon {
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 6.25%;
    padding-left: 0;
    padding-right: 0;
}

.iconpicker[readonly] {
    cursor: pointer;
}