{% extends "TalisSwiftForumBundle::base.html.twig" %}

{% block title %}Welcome to {{ tsforum.name }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Welcome to {{ tsforum.name }}</h1>
    </div>
    <p class="lead">This site is still under construction!</p>
    <p>But don't worry, soon everything will be working, and there will be a lot more interesting content here. Until then, please be patient!</p>
{% endblock %}