<div style="height: 400px"></div>
<div style="position: fixed; bottom: 0; left: 0; right: 0; margin-bottom: 0" class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6" style="text-align: right">
                <button class="btn btn-sm btn-default">Cancel</button>
                <button class="btn btn-sm btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">

            <!-- Content editor -->
            <div class="col-md-8">
                <h5>FrontPage <small>(<a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a>)</small></h5>
                <textarea class="form-control" rows="8" style="resize: none; font-family: monospace">{{ frontPage.markdown }}</textarea>
            </div>

            <!-- Post settings -->
            <div class="col-md-4">
                <h5>Formatting</h5>
                <p>**<strong>Bold text</strong>**</p>
                <p>*<i>Italic text</i>*</p>
                <p>[<a href="#">A Link</a>](http://www.website.com)</p>
                <p>![Image description](http://www.link.com/image.jpg)</p>
            </div>
        </div>
    </div>
</div>
