<div class="clearfix">
    <small class="text-muted">Last edited by <a href="#">dikarel</a> (5 minutes ago)</small>
    <button class="btn btn-default pull-right"><span class="icon-edit"></span> Edit</button>
</div>

<div id="frontpage-content">
    {{ frontPage.markdown|markdown|raw }}
</div>
